<section class="hp-5-contacts">
  <div class="container contacts-container">
    <h1 class="visually-hidden">Contacts</h1>
    <div class="first-wrap">
      <h2 class="contacts-header-first">Mimino</h2>
      <p class="contacts-paragraph">Ресторанно-готельний комплекс</p>

      <!--------Tel. number of the restaurant-------->

      <ul class="contacts-list">
        <li class="contacts-item">
          <ul class="contacts-wrap-list">
            <li><h3 class="contacts-header-second first-title">Ресторан</h3></li>
            <li class="contacts-inner-list">
              <a class="contacts-link first-link" href="tel:+380955559533"
                >095 555 95 33<svg class="contacts-icon">
                  <use href="./img/sprite-icons.svg#phone"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <!--------Tel. number of the hotel-------->

        <li class="contacts-item">
          <ul class="contacts-wrap-list">
            <li><h3 class="contacts-header-second second-title">Готель</h3></li>
            <li class="contacts-inner-list">
              <a class="contacts-link second-link" href="tel:+380668491089"
                >066 849 10 89<svg class="contacts-icon">
                  <use href="./img/sprite-icons.svg#phone"></use></svg></a
              ><a class="contacts-link third-link" href="tel:+380672758540"
                >067 275 85 40</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!--------Hypermarking for Google Maps--------->

      <div class="contacts-item last-item">
        <a
          class="contacts-link map-link"
          href="https://goo.gl/maps/XF562ALCX74oNGHE6"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="contacts-icon map-icon">
            <use href="./img/sprite-icons.svg#location"></use>
          </svg>
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</a
        >
      </div>
    </div>

    <!--------Photo of geoposition of the complex--------->

    <div class="contact-picture-wrap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1292.9616640435363!2d34.5255954!3d49.5991953!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sde!4v1677340621499!5m2!1suk!2sde"  style="border:0; width:100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
